<section>

    <div class="main_dash">
        {{> layout/leftmenu}}
        <div class="right_part">
            <div class="crt">
                <div class="left_headtxt">
                    <h4>Red- Flage</h4>
                </div>
                <div class="right_editbtn"><a href="/add-red-flag"><button type="button"
                            class="login100-form-btn">Create New</button></a></div>
            </div>
            <table class="ta-table-all ta-hoverable">
                <thead>
                    <tr class="ta-light-grey">
                        <th>Title</th>
                        <th>Department</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                {{#each data}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{department}}</td>
                    <td>{{comment}}</td>
                    <td>{{status}}</td>
                    <td><a href="#" class="edit redFlagEdit" data-id="{{id}}"><i class="fa fa-edit"></i></a>&nbsp; <a href="#" class="delete redFalgDelate" data-id="{{id}}" ><i
                                class="fa fa-trash"></i></a></td>
                </tr>
                {{/each}}
            </table>

        </div>
    </div>
</section>